<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <!-- NAVBAR -->
    <div class="navbar">

        <div class="nav-left">
            <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo">
        </div>

        <div class="nav-right">
            <a href="{{ url_for('home') }}">Productos</a>
            <a href="#">Ofertas</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Registro</a>
        </div>

    </div>

    <!-- LOGIN -->
    <div class="login-wrapper">
        <div class="login-container">

            <h2>🔐 Iniciar Sesión</h2>

            {% if error %}
                <p class="error">{{ error }}</p>
            {% endif %}

            <form method="POST">
                <input type="text" name="nombre" placeholder="Usuario" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit" class="btn-login">Ingresar</button>
            </form>

            <p>¿No tenés cuenta?</p>

            <a href="{{ url_for('register') }}">
                <button class="btn-registro">Registrarse</button>
            </a>

        </div>
    </div>

</body>
</html>